{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">

                            <!-- [ Frist Content ] start -->
                            <div class="row justify-content-center">

                            	<!--[ Total unique user section ] start-->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card total-unique-user">
                                        <div class="card-block">

                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">Total unique user</h5>
                                                </div>
                                            </div>

                                            <div class="col text-center">
                                            	<h2 class="mt-3 px-5 f-w-600 text-c-green">{{ config.db['user']|length }}
                                            		<sub class="text-muted f-w-300 f-20">users</sub>
                                            	</h2>
                                            </div>
                               
                                        </div>
                                    </div>
                                </div>
                                <!--[ Total unique user section ] end -->

                                <!--[ Monthly new user section ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card new-user">
                                        <div class="card-block">

                                        	<div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">New user this month</h5>
                                                </div>
                                            </div>

                                            <div class="col text-center">
                                            	<h2 class="mt-3 px-5 f-w-600 text-c-green">{{ config.db['monthly-user']|length }}
                                            		<sub class="text-muted f-w-300 f-20">users</sub>
                                            	</h2>
                                            </div>
                                                                                     
                                        </div>
                                    </div>
                                </div>
                                <!--[ Monthly new user section ] end-->

                                <!--[ Most occupation section ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card most-occupation">
                                        <div class="card-block">

                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">Occupation most use</h5>
                                                </div>
                                            </div>

                                            <div class="col text-center">
                                                <h2 class="mt-3 px-5 f-w-600 text-c-green">
                                                    Student
                                                </h2>
                                            </div>
                                                                                     
                                        </div>
                                    </div>
                                </div>
                                <!--[ Monthly new user section ] end-->

                            </div>
                            <!--First Row end-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>New user count per day per occupation</h5>
                                        </div>
                                        <div class="card-block">
                                            
                                            <canvas id="new-user-day-occu" class="ChartShadow" style="height:300px">
                                                <script>
                                                    var ctx = document.getElementById("new-user-day-occu").getContext("2d");
                                                    var lineChart = new Chart(ctx, {
                                                    type: 'line',
                                                    data: {
                                                        labels: {{ config.db['user_date_occu']['columns'] | safe}},
                                                        datasets: [
                                                        {
                                                            label: "lecturer",
                                                            data: {{ config.db['user_date_occu']['data'][0] | safe}},
                                                            fill: false,
                                                            borderColor: "rgb(75, 192, 192)",
                                                            lineTension: 0.1
                                                        },
                                                        {
                                                            label: "student",
                                                            data: {{ config.db['user_date_occu']['data'][1] | safe}},
                                                            fill: false,
                                                            borderColor: "rgb(0, 0, 192)",
                                                            lineTension: 0.1
                                                        }
                                                    ]
                                                    },
                                                    options: {
                                                        legend: {
                                                        position: 'right',
                                                        align: 'center'
                                                      }
                                                    }
                                                    
                                                    });
                                                </script>
                                            </canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>New user count per day</h5>
                                        </div>
                                        <div class="card-block">
                                            <canvas id="lineChart" class="ChartShadow" style="height:300px">
                                                <script>
                                                    var ctx = document.getElementById("lineChart").getContext("2d");
                                                    var lineChart = new Chart(ctx, {
                                                    type: 'line',
                                                    data: {
                                                        labels: {{ config.db['user_by_date']['columns'] | safe}},
                                                        datasets: [
                                                        {
                                                            label: "users",
                                                            data: {{ config.db['user_by_date']['data'][0] | safe}},
                                                            fill: false,
                                                            borderColor: "rgb(75, 192, 192)",
                                                            lineTension: 0.1
                                                        }
                                                    ]},
                                                    options: {
                                                        legend: {
                                                        position: 'right',
                                                        align: 'center'
                                                      }
                                                    }
                                                    
                                                    });
                                                </script>
                                            </canvas>                                            
                                        </div>
                                    </div>
                                </div>
              
                            </div>


                            <div class="row">

                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>User Occupation</h5>
                                        </div>
                                        <div class="card-block">
                                            <canvas id="donut-chart-occu" class="ChartShadow" style="height:300px">
                                                <script>
                                                    var ctx = document.getElementById("donut-chart-occu").getContext("2d");
                                                    var pieChart = new Chart(ctx, {
                                                    type: 'pie',
                                                    data: {
                                                        labels: {{ config.db['user_occu']['columns'] |safe}},
                                                        datasets: [
                                                        {
                                                            label: 'amount',
                                                            data: {{ config.db['user_occu']['data'][0] |safe}},
                                                            backgroundColor: [
                                                              'rgb(255, 99, 132)',
                                                              'rgb(54, 162, 235)'
                                                            ],
                                                            hoverOffset: 4
                                                        }
                                                    ]
                                                    },
                                                    options: {
                                                                
                                                      legend: {
                                                        position: 'right',
                                                        align: 'center'
                                                      }
                                                    
                                                    }
                                                    
                                                    });
                                                </script>
                                            </canvas>
                                            
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>User Age</h5>
                                        </div>
                                        <div class="card-block">
                                            <canvas id="donut-chart-age" class="ChartShadow" style="height:300px">
                                                <script>
                                                    var ctx = document.getElementById("donut-chart-age").getContext("2d");
                                                    var pieChart = new Chart(ctx, {
                                                    type: 'pie',
                                                    data: {
                                                        labels: {{ config.db['user_age']['columns'] |safe}},
                                                        datasets: [
                                                        {
                                                            label: 'amount',
                                                            data: {{ config.db['user_age']['data'][0] |safe}},
                                                            backgroundColor: [
                                                              'rgb(255, 99, 132)',
                                                              'rgb(54, 162, 235)',
                                                              'rgb(1, 99, 132)',
                                                              'rgb(54, 1, 235)',
                                                              'rgb(1, 99, 1)',
                                                              'rgb(1, 1, 235)',
                                                              'rgb(1, 1, 1)'
                                                            ],
                                                            hoverOffset: 4
                                                        }
                                                    ]
                                                    },
                                                    options: {
                                                        legend: {
                                                        position: 'right',
                                                        align: 'center'
                                                      }
                                                    }
                                                    
                                                    });
                                                </script>
                                            </canvas>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart-morris Js -->
    <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/pages/user.js"></script>

{% endblock javascripts %}